.ReactAPI {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
    padding: 16px;
  }
  
.ReactAPIbutton {
    margin-top: 16px;
    width: 150px;
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: darkblue;
    color: white;
  }
  
  .ReactAPIbutton:disabled,
  .ReactAPIbutton[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
  